In [1]:
from functools import reduce
import json
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 50)
pd.set_option("display.max_rows", 100)
pd.options.display.float_format = "{:,.2f}".format

## Import and format the data

Import charge data for fiscal years 2011-2017.

In [2]:
charges = pd.read_csv("data/raw/charges_11_17.txt", sep="\t", skiprows=1,
                      dtype={1: str},
                      names=["fiscal_year", "charge_num", "state", "num_employees_code",
                             "num_employees", "naics_code", "naics_desc", "type_code",
                             "type", "birth_date", "sex", "date_received", "date_closed",
                             "closure_code", "closure_action", "monetary_benefits", "statute_code",
                             "statute", "basis_code", "basis", "issue_code", "issue",
                             "court_filing_date", "civil_action_num", "court", "resolution_date",
                             "case_type", "litigation_monetary_benefits"])
charges.info()

/home/jyerardi/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3443509 entries, 0 to 3443508
Data columns (total 28 columns):
fiscal_year                     object
charge_num                      object
state                           object
num_employees_code              object
num_employees                   object
naics_code                      float64
naics_desc                      object
type_code                       object
type                            object
birth_date                      object
sex                             object
date_received                   object
date_closed                     object
closure_code                    object
closure_action                  object
monetary_benefits               float64
statute_code                    object
statute                         object
basis_code                      object
basis                           object
issue_code                      object
issue                           object
court_filing_date               object
civil_action_num                object
court                           object
resolution_date                 object
case_type                       object
litigation_monetary_benefits    float64
dtypes: float64(3), object(25)
memory usage: 735.6+ MB

Convert the date columns.

In [3]:
charges["birth_date"] = pd.to_datetime(charges["birth_date"], errors="coerce", format="%m/%d/%Y")
charges["date_received"] = pd.to_datetime(charges["date_received"], errors="coerce", format="%m/%d/%Y")
charges["date_closed"] = pd.to_datetime(charges["date_closed"], errors="coerce", format="%m/%d/%Y")
charges["court_filing_date"] = pd.to_datetime(charges["court_filing_date"], errors="coerce", format="%m/%d/%Y")
charges["resolution_date"] = pd.to_datetime(charges["resolution_date"], errors="coerce", format="%m/%d/%Y")
charges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3443509 entries, 0 to 3443508
Data columns (total 28 columns):
fiscal_year                     object
charge_num                      object
state                           object
num_employees_code              object
num_employees                   object
naics_code                      float64
naics_desc                      object
type_code                       object
type                            object
birth_date                      datetime64[ns]
sex                             object
date_received                   datetime64[ns]
date_closed                     datetime64[ns]
closure_code                    object
closure_action                  object
monetary_benefits               float64
statute_code                    object
statute                         object
basis_code                      object
basis                           object
issue_code                      object
issue                           object
court_filing_date               datetime64[ns]
civil_action_num                object
court                           object
resolution_date                 datetime64[ns]
case_type                       object
litigation_monetary_benefits    float64
dtypes: datetime64[ns](5), float64(3), object(20)
memory usage: 735.6+ MB

Import charge data for fiscal year 2010.

In [4]:
charges_10 = pd.read_csv("data/raw/Genre_2010.txt", sep="\t", skiprows=1,
                         dtype={0: str},
                         names=["charge_num", "state", "num_employees_code",
                                "num_employees", "naics_code", "naics_desc", "type_code",
                                "type", "birth_date", "sex", "date_received", "date_fepa_sent_to_eeoc",
                                "date_closed", "closure_code", "closure_action", "monetary_benefits",
                                "statute_code", "statute", "basis_code", "basis", "issue_code", "issue",
                                "court_filing_date", "civil_action_num", "court", "resolution_date",
                                "litigation_monetary_benefits", "case_type"])
charges_10.info()

/home/jyerardi/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (22,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343863 entries, 0 to 343862
Data columns (total 28 columns):
charge_num                      343863 non-null object
state                           343801 non-null object
num_employees_code              328035 non-null object
num_employees                   328035 non-null object
naics_code                      187222 non-null float64
naics_desc                      185282 non-null object
type_code                       343829 non-null object
type                            343829 non-null object
birth_date                      310000 non-null object
sex                             343453 non-null object
date_received                   343863 non-null object
date_fepa_sent_to_eeoc          20188 non-null object
date_closed                     230050 non-null object
closure_code                    230050 non-null object
closure_action                  230050 non-null object
monetary_benefits               37964 non-null object
statute_code                    343863 non-null object
statute                         343367 non-null object
basis_code                      342598 non-null object
basis                           343859 non-null object
issue_code                      343863 non-null object
issue                           343863 non-null object
court_filing_date               366 non-null object
civil_action_num                355 non-null object
court                           355 non-null object
resolution_date                 41 non-null object
litigation_monetary_benefits    11 non-null object
case_type                       894 non-null object
dtypes: float64(1), object(27)
memory usage: 73.5+ MB

Convert the date columns.

In [5]:
charges_10["birth_date"] = pd.to_datetime(charges_10["birth_date"], errors="coerce", format="%m/%d/%y")
charges_10["date_received"] = pd.to_datetime(charges_10["date_received"], errors="coerce", format="%m/%d/%y")
charges_10["date_closed"] = pd.to_datetime(charges_10["date_closed"], errors="coerce", format="%m/%d/%y")
charges_10["court_filing_date"] = pd.to_datetime(charges_10["court_filing_date"], errors="coerce", format="%m/%d/%y")
charges_10["resolution_date"] = pd.to_datetime(charges_10["resolution_date"], errors="coerce", format="%m/%d/%y")
charges_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343863 entries, 0 to 343862
Data columns (total 28 columns):
charge_num                      343863 non-null object
state                           343801 non-null object
num_employees_code              328035 non-null object
num_employees                   328035 non-null object
naics_code                      187222 non-null float64
naics_desc                      185282 non-null object
type_code                       343829 non-null object
type                            343829 non-null object
birth_date                      310000 non-null datetime64[ns]
sex                             343453 non-null object
date_received                   343863 non-null datetime64[ns]
date_fepa_sent_to_eeoc          20188 non-null object
date_closed                     230050 non-null datetime64[ns]
closure_code                    230050 non-null object
closure_action                  230050 non-null object
monetary_benefits               37964 non-null object
statute_code                    343863 non-null object
statute                         343367 non-null object
basis_code                      342598 non-null object
basis                           343859 non-null object
issue_code                      343863 non-null object
issue                           343863 non-null object
court_filing_date               366 non-null datetime64[ns]
civil_action_num                355 non-null object
court                           355 non-null object
resolution_date                 41 non-null datetime64[ns]
litigation_monetary_benefits    11 non-null object
case_type                       894 non-null object
dtypes: datetime64[ns](5), float64(1), object(22)
memory usage: 73.5+ MB

The columns in the 2010 charge data differ from those of the 2011 through 2017 data. We need to delete, add, rename and reorder the columns before concatenating the data.

In [6]:
charges_10.drop("date_fepa_sent_to_eeoc", axis=1, inplace=True)
charges_10["fiscal_year"] = "FY2010"
charges_10 = charges_10[["fiscal_year", "charge_num", "state", "num_employees_code", "num_employees", "naics_code", "naics_desc", "type_code",
                         "type", "birth_date", "sex", "date_received", "date_closed", "closure_code", "closure_action", "monetary_benefits",
                         "statute_code", "statute", "basis_code", "basis", "issue_code", "issue", "court_filing_date", "civil_action_num",
                         "court", "resolution_date", "case_type", "litigation_monetary_benefits"]]
charges_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343863 entries, 0 to 343862
Data columns (total 28 columns):
fiscal_year                     343863 non-null object
charge_num                      343863 non-null object
state                           343801 non-null object
num_employees_code              328035 non-null object
num_employees                   328035 non-null object
naics_code                      187222 non-null float64
naics_desc                      185282 non-null object
type_code                       343829 non-null object
type                            343829 non-null object
birth_date                      310000 non-null datetime64[ns]
sex                             343453 non-null object
date_received                   343863 non-null datetime64[ns]
date_closed                     230050 non-null datetime64[ns]
closure_code                    230050 non-null object
closure_action                  230050 non-null object
monetary_benefits               37964 non-null object
statute_code                    343863 non-null object
statute                         343367 non-null object
basis_code                      342598 non-null object
basis                           343859 non-null object
issue_code                      343863 non-null object
issue                           343863 non-null object
court_filing_date               366 non-null datetime64[ns]
civil_action_num                355 non-null object
court                           355 non-null object
resolution_date                 41 non-null datetime64[ns]
case_type                       894 non-null object
litigation_monetary_benefits    11 non-null object
dtypes: datetime64[ns](5), float64(1), object(22)
memory usage: 73.5+ MB

Concatenate the two sets of charge data.

In [7]:
charges = pd.concat([charges, charges_10], ignore_index=True)
charges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3787372 entries, 0 to 3787371
Data columns (total 28 columns):
fiscal_year                     object
charge_num                      object
state                           object
num_employees_code              object
num_employees                   object
naics_code                      float64
naics_desc                      object
type_code                       object
type                            object
birth_date                      datetime64[ns]
sex                             object
date_received                   datetime64[ns]
date_closed                     datetime64[ns]
closure_code                    object
closure_action                  object
monetary_benefits               object
statute_code                    object
statute                         object
basis_code                      object
basis                           object
issue_code                      object
issue                           object
court_filing_date               datetime64[ns]
civil_action_num                object
court                           object
resolution_date                 datetime64[ns]
case_type                       object
litigation_monetary_benefits    object
dtypes: datetime64[ns](5), float64(1), object(22)
memory usage: 809.1+ MB

Convert the columns to their proper data types.

In [8]:
charges = charges.astype(dtype={"fiscal_year": "category", "charge_num": str, "state": "category",
                            "num_employees_code": "category", "num_employees": "category",
                            "naics_code": "category", "naics_desc": "category",
                            "type_code": "category", "type": "category", "sex": "category",
                            "closure_code": "category", "closure_action": "category",
                            "statute_code": "category", "statute": "category",
                            "basis_code": "category", "basis": "category", "issue_code": "category",
                            "issue": "category", "court": "category", "case_type": "category"})
charges["monetary_benefits"] = pd.to_numeric(charges["monetary_benefits"], errors="coerce", downcast="float")
charges["litigation_monetary_benefits"] = pd.to_numeric(charges["litigation_monetary_benefits"], errors="coerce", downcast="float")
charges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3787372 entries, 0 to 3787371
Data columns (total 28 columns):
fiscal_year                     category
charge_num                      object
state                           category
num_employees_code              category
num_employees                   category
naics_code                      category
naics_desc                      category
type_code                       category
type                            category
birth_date                      datetime64[ns]
sex                             category
date_received                   datetime64[ns]
date_closed                     datetime64[ns]
closure_code                    category
closure_action                  category
monetary_benefits               float32
statute_code                    category
statute                         category
basis_code                      category
basis                           category
issue_code                      category
issue                           category
court_filing_date               datetime64[ns]
civil_action_num                object
court                           category
resolution_date                 datetime64[ns]
case_type                       category
litigation_monetary_benefits    float32
dtypes: category(19), datetime64[ns](5), float32(2), object(2)
memory usage: 307.1+ MB

## How many alleged violations are we dealing with?

In [9]:
charges["charge_num"].count()

3787372

## And how many cases are we dealing with?

In [10]:
charges["charge_num"].nunique()

1056978

How many of these cases occurred in each year?

In [11]:
all_cases_by_year = charges.groupby("fiscal_year")["charge_num"].nunique().reset_index()
all_cases_by_year.rename(columns={"charge_num": "all_cases"}, inplace=True)
all_cases_by_year

  fiscal_year  all_cases
0      FY2010     104514
1      FY2011     146123
2      FY2012     146294
3      FY2013     139852
4      FY2014     134106
5      FY2015     130871
6      FY2016     132519
7      FY2017     122824

## In how many cases did the EEOC find merit to the complaint?

In [12]:
meritorious_outcomes = ["Case Settled By Legal Unit", "Conciliation Failure", "Successful Conciliation"]
meritorious_cases = charges[charges["closure_action"].isin(meritorious_outcomes)]
meritorious_cases["charge_num"].nunique()

17253

How many of these cases occurred in each year?

In [13]:
meritorious_cases_by_year = meritorious_cases.groupby("fiscal_year")["charge_num"].nunique().reset_index()
meritorious_cases_by_year.rename(columns={"charge_num": "meritorious_cases"}, inplace=True)
meritorious_cases_by_year

  fiscal_year  meritorious_cases
0      FY2010                885
1      FY2011               4369
2      FY2012               3411
3      FY2013               2888
4      FY2014               2414
5      FY2015               1478
6      FY2016               1482
7      FY2017                327

## And in how many cases did the EEOC grant some form of relief (including non-monetary relief) to the complainant?

In [14]:
relief_outcomes = ["Settlement With Benefits", "Settlement With Benefits", "Successful Conciliation", "Case Settled By Legal Unit"]
relief_cases = charges[charges["closure_action"].isin(relief_outcomes)]
relief_cases["charge_num"].nunique()

89577

How many of these cases occurred in each year?

In [15]:
relief_cases_by_year = relief_cases.groupby("fiscal_year")["charge_num"].nunique().reset_index()
relief_cases_by_year.rename(columns={"charge_num": "relief_cases"}, inplace=True)
relief_cases_by_year

  fiscal_year  relief_cases
0      FY2010          8988
1      FY2011         15442
2      FY2012         14164
3      FY2013         12912
4      FY2014         11762
5      FY2015         10571
6      FY2016          9785
7      FY2017          5953

## And in how many cases did a worker see any monetary benefits?

In [16]:
monetary_benefits_cases = charges[charges["monetary_benefits"] > 0]
monetary_benefits_cases["charge_num"].nunique()

112198

How much money did they get?

In [17]:
monetary_benefits_cases.groupby(["charge_num"])["monetary_benefits"].mean().sum()

2354293800.0

How many of these cases occurred in each year?

In [18]:
monetary_benefits_cases_by_year = monetary_benefits_cases.groupby("fiscal_year")["charge_num"].nunique().reset_index()
monetary_benefits_cases_by_year.rename(columns={"charge_num": "monetary_benefits_cases"}, inplace=True)
monetary_benefits_cases_by_year

  fiscal_year  monetary_benefits_cases
0      FY2010                     1008
1      FY2011                    19415
2      FY2012                    18256
3      FY2013                    17455
4      FY2014                    16445
5      FY2015                    15325
6      FY2016                    14883
7      FY2017                     9411

## Combine the data by year.

In [19]:
cases_by_year_dfs = [all_cases_by_year, meritorious_cases_by_year, relief_cases_by_year, monetary_benefits_cases_by_year]
cases_by_year = reduce(lambda left, right: pd.merge(left, right, on="fiscal_year"), cases_by_year_dfs)
cases_by_year

,fiscal_year,all_cases,meritorious_cases,relief_cases,monetary_benefits_cases
0,FY2010,104514,885,8988,1008
1,FY2011,146123,4369,15442,19415
2,FY2012,146294,3411,14164,18256
3,FY2013,139852,2888,12912,17455
4,FY2014,134106,2414,11762,16445
5,FY2015,130871,1478,10571,15325
6,FY2016,132519,1482,9785,14883
7,FY2017,122824,327,5953,9411

Calculate the proportion of all cases that fall into each category each fiscal year.

In [20]:
cases_by_year["pct_all_cases_meritorious"] = cases_by_year["meritorious_cases"] / cases_by_year["all_cases"]
cases_by_year["pct_all_cases_relief"] = cases_by_year["relief_cases"] / cases_by_year["all_cases"]
cases_by_year["pct_all_cases_monetary_benefits"] = cases_by_year["monetary_benefits_cases"] / cases_by_year["all_cases"]
cases_by_year = cases_by_year[["fiscal_year", "all_cases", "meritorious_cases", "pct_all_cases_meritorious", "relief_cases", "pct_all_cases_relief", "monetary_benefits_cases", "pct_all_cases_monetary_benefits"]]
cases_by_year

,fiscal_year,all_cases,meritorious_cases,pct_all_cases_meritorious,relief_cases,pct_all_cases_relief,monetary_benefits_cases,pct_all_cases_monetary_benefits
0,FY2010,104514,885,0.01,8988,0.09,1008,0.01
1,FY2011,146123,4369,0.03,15442,0.11,19415,0.13
2,FY2012,146294,3411,0.02,14164,0.10,18256,0.12
3,FY2013,139852,2888,0.02,12912,0.09,17455,0.12
4,FY2014,134106,2414,0.02,11762,0.09,16445,0.12
5,FY2015,130871,1478,0.01,10571,0.08,15325,0.12
6,FY2016,132519,1482,0.01,9785,0.07,14883,0.11
7,FY2017,122824,327,0.00,5953,0.05,9411,0.08

Export the table.

In [21]:
cases_by_year.to_csv("data/cases_by_year.csv", index=False)

## What sorts of discriminatory bases were most likely to result in an outcome where the EEOC found merit in the complaint, the complainant got some form of relief and in which the complainant saw any monetary benefits and how does that compare with the overall number of those violations?

### Calculate the number of cases grouped by basis.

In [22]:
all_cases = charges.groupby(["charge_num", "basis"])["issue"].count().reset_index()
all_cases.rename(columns={"issue": "num_issues"}, inplace=True)
all_cases.sort_values("charge_num").head()

       charge_num        basis  num_issues
0    3,288,411.72          Age           1
1    3,288,411.72  Retaliation           2
2  3,593,445.5595  Retaliation           2
3  3,593,445.5595   Sex-Female           2
4  3,848,821.6365  Retaliation           1

In [23]:
all_cases_by_basis = all_cases.groupby("basis").count().reset_index()
all_cases_by_basis.rename(columns={"charge_num": "num_cases"}, inplace=True)
all_cases_by_basis.drop("num_issues", axis=1, inplace=True)
all_cases_by_basis["percent_of_cases"] = all_cases_by_basis["num_cases"] / charges["charge_num"].nunique()
all_cases_by_basis["rank"] = all_cases_by_basis["percent_of_cases"].rank(method="min", ascending=False).astype(int)
all_cases_by_basis.sort_values("num_cases", ascending=False).head()

                          basis  num_cases  percent_of_cases  rank
74                  Retaliation     412515              0.39     1
60  Race-Black/African American     279225              0.26     2
0                           Age     231539              0.22     3
76                   Sex-Female     203779              0.19     4
50             Other Disability     109168              0.10     5

### Calculate the number of cases, grouped by basis, that resulted in an outcome where the EEOC found merit in the complaint.

In [24]:
meritorious_cases_by_basis = meritorious_cases.groupby(["charge_num", "basis"])["issue"].count().reset_index()
meritorious_cases_by_basis.rename(columns={"issue": "num_issues"}, inplace=True)
meritorious_cases_by_basis.sort_values("charge_num").head()

  charge_num                        basis  num_issues
0    3832804  Race-Black/African American           1
1    3832804                     Sex-Male           1
2    3855513  Race-Black/African American           3
3    3855513                     Sex-Male           3
4    3951954        National Origin-Other           5

In [25]:
all_cases_by_basis = all_cases.groupby("basis").count().reset_index()
all_cases_by_basis.rename(columns={"charge_num": "num_cases"}, inplace=True)
all_cases_by_basis.drop("num_issues", axis=1, inplace=True)
all_cases_by_basis["percent_of_cases"] = all_cases_by_basis["num_cases"] / charges["charge_num"].nunique()
all_cases_by_basis["rank"] = all_cases_by_basis["percent_of_cases"].rank(method="min", ascending=False).astype(int)
all_cases_by_basis.sort_values("num_cases", ascending=False).head()

                          basis  num_cases  percent_of_cases  rank
74                  Retaliation     412515              0.39     1
60  Race-Black/African American     279225              0.26     2
0                           Age     231539              0.22     3
76                   Sex-Female     203779              0.19     4
50             Other Disability     109168              0.10     5

### Calculate the number of cases, grouped by basis, that resulted in an outcome where the complainant saw monetary benefits.

In [26]:
monetary_benefits_cases = monetary_benefits_charges.groupby(["charge_num", "basis"])["issue"].count().reset_index()
monetary_benefits_cases.rename(columns={"issue": "num_issues"}, inplace=True)
monetary_benefits_cases.sort_values("charge_num").head()

NameError: name 'monetary_benefits_charges' is not defined

In [ ]:
monetary_benefits_by_basis = monetary_benefits_cases.groupby("basis").count().reset_index()
monetary_benefits_by_basis.rename(columns={"charge_num": "num_cases"}, inplace=True)
monetary_benefits_by_basis.drop("num_issues", axis=1, inplace=True)
monetary_benefits_by_basis["percent_of_cases"] = monetary_benefits_by_basis["num_cases"] / monetary_benefits_charges["charge_num"].nunique()
monetary_benefits_by_basis["rank"] = monetary_benefits_by_basis["percent_of_cases"].rank(method="min", ascending=False).astype(int)
monetary_benefits_by_basis.sort_values("num_cases", ascending=False).head()

### Join the tables.

In [ ]:
cases_by_basis_and_benefits = all_cases_by_basis.merge(monetary_benefits_by_basis, how="left", on="basis", suffixes=["", "_monetary_benefits"])
cases_by_basis_and_benefits.sort_values("rank", ascending=True).head()

Export the table.

In [ ]:
cases_by_basis_and_benefits.to_csv("data/cases_by_basis_and_benefits.csv", index=False)